config.py
__pycache__
.ipynb_checkpoints
venv
service_account_credentials.json
.DS_Store

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore log files
*.log

# Ignore the Terraform plugin cache directory
.terraform/

# Ignore the local plan file
*.plan

# Ignore packaged Lambda code
*.zip

.terraform.lock.hcl

tech-job-analysis/credentials.json
tech-job-analysis/output
tech-job-analysis/service_account_credentials.json